extends ../base.pug


block content
  if errorMessage 
    span=errorMessage
  form(method="POST", enctype="multipart/form-data").edit-profile__form
    label(for="avatar") Avatar
    input(id="avatar" name="avatar" type="file" accept="image/*")
    label(for="name") Name  
    input(id="name" name="name" type="text" placeholder="name" required value=loggedInUser.name) 
    label(for="email") Email
    input(id="email" name="email" type="email" placeholder="email" required value=loggedInUser.email)
    label(for="username") Username
    input(id="username" name="username" type="text" placeholder="username" required value=loggedInUser.username)
    label(for="location") Location
    input(id="location" name="location" type="text" placeholder="location" value=loggedInUser.location)
    input(type="submit", value="Update Profile")
    if !loggedInUser.githubOnly
      div.edit-profile__password
        a(href="change-password") Change Password &rarr;